/* Tag cloud */
.tags ul{			
	padding-left: 0px;			
}
.tags li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}	
.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}
.tag6{font-size:200%;}

