.lesson-meta {
	margin-bottom: 20px;  
}

.sidebar{
	padding-bottom: 10px;
}

/* Comments */
.comments-section {
	text-align: center;
}

.comment {
	padding-bottom: 40px;
}

.comment-new {
	color: #999;
	font-size: 18px;
	text-align: center;
}

.well{
	padding-bottom: 9px;
}
.comment-new a{
	color: inherit;
}

.comment-author cite{
	padding-left: 12px;	
	font-size: 20px;
}
.comment-author-says {
	color: #999;
}

.comment-cancel {
	color: #999;
	font-size: 12px;
}

.comment-content {
	padding-left: 64px;
	padding-top: 10px;
}
.comment-meta {
	text-transform: uppercase;
	padding-top: 8px;
	padding-left: 64px;
	color: #999;
}

.comment-meta a{
	color: inherit;
}