/* Override Bootstrap's default container. */
@media (min-width: 1200px) {
  .container-fluid {
    width: 970px;
  }
}
 
html, body {
background-color: #eee;
}

/* Quitar el azul de los enlaces */
.lesson-meta a, .label a, h2 a {   
    color: inherit;
}

.sidebar a{
	color: #563D7C;
}
.sidebar .label-info{
	background-color: #563D7C;
}

.sidebar{
	padding-bottom: 40px;
}

/* Reducir margen superior cabeceras*/
h1, h2{
	margin-top: 0px;
}

/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;	
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Navbar*/

.navbar{
	margin-bottom: 0px;	
}

/* Footer */
.footer {
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
} 

/* Pager */

.pager li > a{
	background-color: #CDBFE3;	
	color: #563D7C;
}

.pager li > a:hover, .pager li > a:focus{
	background-color: #563D7C;
	color: white;
}

/*Lesson*/
.lesson-title {
  margin-bottom: 0px;  
  font-size: 25px;
}

.lesson-title a:hover{
	color: #563D7C;
}

.lesson-meta {
  margin-bottom: 0px;
  color: #999;
}

.lesson-addons{
	color: #563D7C;
}

/*Lesson video*/
/*.lesson-video*/

/* Tag cloud */
.tags ul{			
	padding-left: 0px;			
}
.tags li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;	
}	

.tags a{
	color: #563D7C;
}
.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}
.tag6{font-size:200%;}
