/* Override Bootstrap's default container. */
@media (min-width: 1200px) {
  .container-fluid {
    width: 970px;
  }
}

/* Manita en los enlaces sin href*/
a{
	cursor: pointer;
}

html, body {
background-color: #eee;
}

/* Quitar el azul de los enlaces */
.lesson-meta a, .label a, h2 a {   
    color: inherit;
}

.sidebar a{
	color: #563D7C;
}
.label-info{
	background-color: #563D7C;
}

.sidebar{
	padding-bottom: 40px;
}

/* Reducir margen superior cabeceras*/
h1, h2{
	margin-top: 0px;
}


/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;	
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/* Subnav*/
.subnav{
	min-height: 20px;
	text-align: justify;
}

.subnav > li > a{
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;	
}

@media (max-width: 768px) {
	.subnav > li > a{
		padding-left: 5px;
		padding-right: 5px;	
  	}
}

.subnav > li + li::before {
	content:">";
	color: #9D9D9D;
}
.subnav > li {
    float: left;
}



/* Navbar*/

.navbar{
	margin-bottom: 0px;	
}


/* Nav label PageStack*/
.navlabel{
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}

/* Footer */
.footer {
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
} 

/* Pager */

.pager li > a{
	background-color: #CDBFE3;	
	color: #563D7C;
}

.pager li > a:hover, .pager li > a:focus{
	background-color: #563D7C;
	color: white;
}

.pagerBottom{
	margin: 50px 0px;
}

/*Lesson*/
.lesson-title {
  margin-bottom: 0px;  
  font-size: 25px;
}

.lesson-title a:hover{
	color: #563D7C;
}

.lesson-meta {
  margin-bottom: 0px;
  color: #999;
}

.lesson-addons{
	color: #563D7C;
}

.author-avatar{
	margin-right: 10px;
}


/* Tag cloud */
.tags ul{			
	padding-left: 0px;			
}
.tags li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;	
}	

.tags a{
	color: #563D7C;
}
.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}
.tag6{font-size:200%;}


/* Login */
button.close{
	color: white;
	padding-top: 5px;
}

#login .modal-header, 
#register .modal-header, 
#about .modal-header{	
    text-align: left;
    text-indent: 40px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #6F5499;
    background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    background-repeat: repeat-x; 
    -webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);   
}
.modal-header h2{
		font-size: 20px;
		color: #CDBFE3;
}
.modal-header span{
	text-indent: 0px;	
}

.modal-icons{
	padding-right: 10px;	
}

.modal-content{
	background-color: #eee;	
}
.modal-body{
	background-color: #fff;
	padding: 20px;	
	margin-bottom: 5px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.form-signin {
  max-width: 330px;
 padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin a{
	color: #563D7C;	
}
#login .modal-footer{
	border-top: 0px;
	padding-top: 0px;
	padding-right: 0px;	
}
.modal-footer button {
	background-image: linear-gradient(to bottom, #563D7C 0px, #7851b3 100%);
	background-repeat: repeat-x;
	border-color: #563D7C;
	background-color: #563D7C;
}

.modal-footer button:hover
,.modal-footer button:focus {
	border-color: #563D7C;
	background-color: #563D7C;
}

.violetButton button {
	background-image: linear-gradient(to bottom, #563D7C 0px, #7851b3 100%);
	background-repeat: repeat-x;
	border-color: #563D7C;
	background-color: #563D7C;
}

.violetButton button:hover
,.violetButton button:focus {
	border-color: #563D7C;
	background-color: #563D7C;
}

#login button[type="submit"] {
	background-image: linear-gradient(to bottom, #563D7C 0px, #7851b3 100%);
	background-repeat: repeat-x;
	border-color: #563D7C;
	background-color: #563D7C;	
}


#login button[type="submit"]:hover
,#login button[type="submit"]:focus {
	border-color: #563D7C;
	background-color: #563D7C;
}



/*Alert*/
#alert .modal-footer, #confirm .modal-footer{
	text-align: center;
	border-top: none;
	padding-top: 0px;
}

.modal-footer h4{
	margin-top: 22px;
}

.alertMessage, .confirmMessage{
	padding-top: 10px;
	padding-bottom: 10px;
}