<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
  <display-name>TeachOnSnap</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>HomeController</display-name>
  	<servlet-name>HomeController</servlet-name>
  	<servlet-class>com.julvez.pfc.teachonsnap.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TagController</display-name>
  	<servlet-name>TagController</servlet-name>
  	<servlet-class>com.julvez.pfc.teachonsnap.controller.TagController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TagController</servlet-name>
  	<url-pattern>/tag/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>
  	</description>
  	<display-name>LessonController</display-name>
  	<servlet-name>LessonController</servlet-name>
  	<servlet-class>com.julvez.pfc.teachonsnap.controller.LessonController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LessonController</servlet-name>
  	<url-pattern>/lesson/*</url-pattern>
  </servlet-mapping>
 
</web-app>