<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>TeachOnSnap</display-name>
	<listener>  
		<listener-class>com.julvez.pfc.teachonsnap.listener.TeachOnSnapServletContextListener</listener-class>
	</listener>
	<error-page>		
		<location>/error/</location>
	</error-page>	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>ErrorController</display-name>
		<servlet-name>ErrorController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.ErrorController</servlet-class>
	</servlet>
	<servlet-mapping> 
		<servlet-name>ErrorController</servlet-name>
		<url-pattern>/error/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>TagController</display-name>
		<servlet-name>TagController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.pager.TagController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TagController</servlet-name>
		<url-pattern>/tag/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>PreviewController</display-name>
		<servlet-name>PreviewController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.PreviewLessonController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreviewController</servlet-name>
		<url-pattern>/preview/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>AdminUserProfileController</display-name>
		<servlet-name>AdminUserProfileController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.UserProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserProfileController</servlet-name>
		<url-pattern>/admin/user/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminUsersController</display-name>
		<servlet-name>AdminUsersController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.UsersController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUsersController</servlet-name>
		<url-pattern>/admin/users/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminGroupsController</display-name>
		<servlet-name>AdminGroupsController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.GroupsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminGroupsController</servlet-name>
		<url-pattern>/admin/groups/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminGroupFollowAuthorController</display-name>
		<servlet-name>AdminGroupFollowAuthorController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.FollowAuthorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminGroupFollowAuthorController</servlet-name>
		<url-pattern>/admin/group/follow/author/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>FollowAuthorController</display-name>
		<servlet-name>FollowAuthorController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.FollowAuthorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowAuthorController</servlet-name>
		<url-pattern>/follow/author/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>FollowController</display-name>
		<servlet-name>FollowController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.FollowController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowController</servlet-name>
		<url-pattern>/follow/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminGroupFollowTagController</display-name>
		<servlet-name>AdminGroupFollowTagController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.FollowTagController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminGroupFollowTagController</servlet-name>
		<url-pattern>/admin/group/follow/tag/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminGroupFollowingController</display-name>
		<servlet-name>AdminGroupFollowingController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.GroupFollowController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminGroupFollowingController</servlet-name>
		<url-pattern>/admin/group/follow/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminGroupProfileController</display-name>
		<servlet-name>AdminGroupProfileController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.GroupProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminGroupProfileController</servlet-name>
		<url-pattern>/admin/group/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>DraftsController</display-name>
		<servlet-name>DraftsController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.DraftsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DraftsController</servlet-name>
		<url-pattern>/drafts/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  	</description>
		<display-name>LessonController</display-name>
		<servlet-name>LessonController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.LessonController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessonController</servlet-name>
		<url-pattern>/lesson/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>UserProfileController</display-name>
		<servlet-name>UserProfileController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.UserProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserProfileController</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  	</description> 
		<display-name>AuthorController</display-name>
		<servlet-name>AuthorController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.pager.AuthorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorController</servlet-name>
		<url-pattern>/author/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>QuestionController</display-name>
		<servlet-name>QuestionController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.QuestionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionController</servlet-name>
		<url-pattern>/test/question/*</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description>
  		</description>
		<display-name>LessonTestController</display-name>
		<servlet-name>LessonTestController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.LessonTestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessonTestController</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>StatsLessonTestController</display-name>
		<servlet-name>StatsLessonTestController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.StatsLessonTestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatsLessonTestController</servlet-name>
		<url-pattern>/stats/test/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsLessonTestController</servlet-name>
		<url-pattern>/stats/lesson/test/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsLessonTestController</servlet-name>
		<url-pattern>/stats/author/lesson/test/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsLessonTestController</servlet-name>
		<url-pattern>/stats/admin/author/lesson/test/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsLessonTestController</servlet-name>
		<url-pattern>/stats/admin/lesson/test/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>StatsController</display-name>
		<servlet-name>StatsController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.StatsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/author/year/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/author/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/lesson/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/lesson/year/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/author/lesson/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/author/lesson/year/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/author/year/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/author/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/lesson/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/lesson/year/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/author/lesson/month/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/stats/admin/author/lesson/year/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>AdminStatsController</display-name>
		<servlet-name>AdminStatsController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.admin.StatsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminStatsController</servlet-name>
		<url-pattern>/admin/stats/year/*</url-pattern>		
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>AdminStatsController</servlet-name>
		<url-pattern>/admin/stats/month/*</url-pattern>		
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>EditLessonTestController</display-name>
		<servlet-name>EditLessonTestController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.EditLessonTestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditLessonTestController</servlet-name>
		<url-pattern>/test/edit/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  		</description>
		<display-name>NewLessonTestController</display-name>
		<servlet-name>NewLessonTestController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.NewLessonTestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewLessonTestController</servlet-name>
		<url-pattern>/test/new/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  	</description>
		<display-name>LastController</display-name>
		<servlet-name>LastController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.pager.LastController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LastController</servlet-name>
		<url-pattern>/last/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  	</description>
		<display-name>VideoRecordController</display-name>
		<servlet-name>VideoRecordController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.VideoRecordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoRecordController</servlet-name>
		<url-pattern>/record/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePWController</display-name>
		<servlet-name>ChangePWController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.ChangePWController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePWController</servlet-name>
		<url-pattern>/changepw/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditLessonController</display-name>
		<servlet-name>EditLessonController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.EditLessonController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditLessonController</servlet-name>
		<url-pattern>/lesson/edit/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NewLessonController</display-name>
		<servlet-name>NewLessonController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.NewLessonController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewLessonController</servlet-name>
		<url-pattern>/lesson/new/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CommentController</display-name>
		<servlet-name>CommentController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.CommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentController</servlet-name>
		<url-pattern>/lesson/comment/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>FileUploadController</display-name>
		<servlet-name>FileUploadController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.FileUploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadController</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
  	</description>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.julvez.pfc.teachonsnap.controller.common.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>